* {
  height: auto;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;

}

body {
  background-color: #f5c6d3;
  /* background-image: url(img/background.jpeg); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  font-family: 'Piazzolla', serif;
}

button {
  background-color: #1f96b7;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 20px;
  font-family: 'Piazzolla', serif;
}

h2 {
  /* TODO: Add formatting for all h2s here: padding top bottom, font size, etc. */
  padding-top: 5px;
  text-align: center;
  grid-area: 'title';
}

/* LOGO AND NAV BAR */

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px !important;
  padding-left: 5px;
  padding-bottom: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: transparent;
  position: absolute;
  font-family: 'Gochi Hand', cursive;
  /* padding-left: 60%; */
  width: 70%;
  left: 30%;
}

/* TODO: Add media query for mobile */

/* HOME */

main {
  height: 700px;
  background: url(img/hero-background.jpeg) no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". ." ". cta" ". ."
}

main * {
  color: black;
}

main>h1 {
  font-size: 56px;
}

main>h2 {
  font-size: 32px;
}

main>button {
  font-size: 24px;
}

#call-to-action {
  grid-area: cta;
}

/* FEATURES
  - small top bar across the top with "features"
  - a 2 column by 3 row grid evenly displayed with rest of content
    - feat-one-text   feat-one-pic
    - feat-two-pic    feat-two-text
    - feat-three-text feat-three-pic
  - maybe spacing at bottom?
*/

#features {
  height: 980px;
  background-size: cover;
  display: grid;
  /* TODO: first row of grid should be smaller */
  grid-template-areas:
  'title               title'
  'feat-one-text   feat-one-pic'
  'feat-two-pic    feat-two-text'
  'feat-three-text feat-three-pic'
}

#feat-one-text {
  grid-area: feat-one-text;
}

#feat-one-pic {
  grid-area: feat-one-pic;
}

#feat-two-pic {
  grid-area: feat-two-pic;
}

#feat-two-text {
  grid-area: feat-two-text;
}

#feat-three-text {
  grid-area: feat-three-text;
}

#feat-three-pic {
  grid-area: feat-three-pic;
}

#customer-list {
  height: 600px;
  display: grid;
}

#about {
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

#customer-proof {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

#contact {
  height: 600px;
}