* {
  height: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: center;
}

/* LOGO AND NAV BAR */

#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  padding-left: 5px;
  padding-bottom: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: transparent;
  position: absolute;
  font-family: 'Gochi Hand', cursive;
  width: 70%;
  left: 30%;
}

.nav-links a:hover {
  color: #1f96b7 !important;
  border-bottom: 2px solid;
}

#burger {
  display: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

#burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
  #logo {
    font-size: 38px;
  }
  .nav-links {
    font-size: 16px;

  }
  .nav-links a {
    margin: 0px 10px 0px 10px;
    width: 50%;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  nav {
    position: absolute;
    right: 0px;
    height: 35vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: black;
    opacity: 0.5;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
    /* width: 50%; */
  }
  .nav {
    opacity: 0;
  }
  #burger {
    display: block;
  }

.nav-active {
  transform: translateX(0%);


}
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle #line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line2 {
  opacity: 0;
}

.toggle #line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.pre-main {
  transition: 1s;
}

.past-main {
  transition: 1s;
  background: rosybrown;
}

/* HOME */

#home {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  background-color: #1f96b7;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
  font-size: 20px;
  font-family: 'Piazzolla', serif;
}

main {
  height: 700px;
  background: url(img/hero-background.jpeg) no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". ." ". cta" ". ."
}

main * {
  color: black;
}

main>h1 {
  font-size: 56px;
}

main>h2 {
  font-size: 32px;
}

main>button {
  font-size: 24px;
}

#call-to-action {
  grid-area: cta;
}

h2 {
  padding-top: 5px;
  text-align: center;
  grid-area: 'title';
  font-size: 38px;
}

@media screen and (max-width:768px) {
  main h1 {
    font-size: 26px ;
  }
  main h2 {
    font-size: 15px ;
  }
  main>button {
    font-size: 10px;
  }

}

/* BODY */

body {
  background-color: #f5c6d3;
  font-family: 'Piazzolla', serif;
}
  /* FEATURES */
  #features {
    height: 980px;
    background-size: cover;
    display: grid;
    grid-template-areas:
    'title               title'
    'feat-one-text   feat-one-pic'
    'feat-two-pic    feat-two-text'
    'feat-three-text feat-three-pic'
  }

  #features h3 {
    font-size: 35px;
  }
  #feat-one-text {
    grid-area: feat-one-text;
  }
  #feat-one-pic {
    grid-area: feat-one-pic;
  }
  #feat-two-pic {
    grid-area: feat-two-pic;
  }
  #feat-two-text {
    grid-area: feat-two-text;
  }
  #feat-three-text {
    grid-area: feat-three-text;
  }
  #feat-three-pic {
    grid-area: feat-three-pic;
  }

  #features img {
    height: 250px;
    width: 250px;
  }
  @media screen and (max-width:922px) {
    #features {
      text-align: center;
      font-size: 14px;
      display: inline-grid;
      grid-template-areas:
      'title'
      'feat-one-text'
      'feat-one-pic'
      'feat-two-text'
      'feat-two-pic'
      'feat-three-text'
      'feat-three-pic'

  }
    #features h2 {
    padding-right: 60% !important;
    display: block;
    margin: 0;
    }
    #feature h3 {
      font-size: 14px !important;
    }
    #features img {
      height: 150px;
      width: 150px;
    }

    }
    /* CUSTOMER LIST */
    #customer-list {

      height: 600px;
      display: grid;
      border-radius: 15%;
      background-color: whitesmoke;
      /* background-size: cover; */
      /* background-repeat: no-repeat; */
      /* background-position: center; */
      margin-right: 250px;
      margin-left: 250px;
    }
    @media screen and (max-width: 922px) {
    #customer-list {
      text-align: center;
      font-size: 14px;
      display: inline-grid;
      border-radius: 30%;
      background-color: whitesmoke;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      grid-template-areas:
      'title-cus'
      'premier'
      'hoa-ngoc-llc'
    }
    }

    /* ABOUT */
    #about {
      height: 600px;
      margin-top: 20px;
      margin-bottom: 140px;
      margin-right: 200px;
      margin-left: 200px;
    }
    /* CUSTOMER REVIEW */
    #customer-proof {
      height: 600px;
      background-color: whitesmoke;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 15%;
      margin-top: 70px;
      margin-bottom: 100px;
      margin-right: 250px;
      margin-left: 250px;
    }
    /* CONTACT */
    #contact {
      height: 600px;
    }
    @media screen and (max-width: 768px) {}